



.heading0{ 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:226px;
	height:36px;
	position:absolute;
	left:97px;
	top:34px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.heading1 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:270px;
	height:42px;
	position:absolute;
	left:97px;
	top:250px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.heading3 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:208px;
	height:42px;
	position:absolute;
	left:97px;
	top: 580px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.heading5 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:900px;
	height:88px;
	position:absolute;
	left:305px;
	top:1053px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_58 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:900px;
	height:132px;
	position:absolute;
	left:97px;
	top:2451px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_77 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:640px;
	height:176px;
	position:absolute;
	left:596px;
	top:3572px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e16_17 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:236px;
	height:44px;
	position:absolute;
	left:596px;
	top:3769px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e16_18 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:246px;
	height:44px;
	position:absolute;
	left:596px;
	top:3813px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e16_19 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:278px;
	height:44px;
	position:absolute;
	left:596px;
	top:3857px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_62 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:215px;
	height:44px;
	position:absolute;
	left:97px;
	top:3151px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_67 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:215px;
	height:44px;
	position:absolute;
	left:777px;
	top:3151px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_66 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:560px;
	height:96px;
	position:absolute;
	left:97px;
	top:3195px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e2_68 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:560px;
	height:96px;
	position:absolute;
	left:777px;
	top:3195px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e2_63 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:141px;
	height:44px;
	position:absolute;
	left:97px;
	top:3107px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.interns { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:141px;
	height:44px;
	position:absolute;
	left:97px;
	top:3450px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e2_69 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:141px;
	height:44px;
	position:absolute;
	left:777px;
	top:3107px;
	font-family:Poppins;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
}
.e2_55 { 
	width:900px;
	height:182px;
	position:absolute;
	left:305px;
	top:1533px;
}
.e2_49 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:900px;
	height:132px;
	position:absolute;
	left:0px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_50 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:58px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_56 { 
	width:900px;
	height:226px;
	position:absolute;
	left:305px;
	top:1783px;
}
.e2_51 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:900px;
	height:176px;
	position:absolute;
	left:0px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_52 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:54px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_57 { 
	width:900px;
	height:182px;
	position:absolute;
	left:305px;
	top:2042px;
}
.e2_53 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:895px;
	height:132px;
	position:absolute;
	left:5px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.e2_54 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:54px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.heading2 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:616px;
	height:232px;
	position:absolute;
	left:97px;
	top:300px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}
.heading4 { 
	color:rgba(246.83999866247177, 240.7200014591217, 150.9599867463112, 1);
	width:348px;
	height:116px;
	position:absolute;
	left:888px;
	top:920px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}

.aboutme{
	color:rgba(246.83999866247177, 240.7200014591217, 150.9599867463112, 1);
	width:525px;
	height:116px;
	position:absolute;
	left:57px;
	top:900px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;

}
.education { 
	color:rgba(246.83999866247177, 240.7200014591217, 150.9599867463112, 1);
	width:525px;
	height:116px;
	position:absolute;
	left:57px;
	top:1359px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}
.projects { 
	color:rgba(246.83999866247177, 240.7200014591217, 150.9599867463112, 1);
	width:292px;
	height:116px;
	position:absolute;
	left:97px;
	top:2303px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}

.internships { 
	color:rgba(246.83999866247177, 240.7200014591217, 150.9599867463112, 1);
	width:292px;
	height:116px;
	position:absolute;
	left:97px;
	top:3303px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}
.contact { 
	color:rgba(246.83999866247177, 240.7200014591217, 150.9599867463112, 1);
	width:436px;
	height:116px;
	position:absolute;
	left:97px;
	top:4415px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}
.e2_8 { 
	width:276px;
	height:27.00002098083496px;
	position:absolute;
	left:582px;
	top:36.99998092651367px;
}
.e0_11 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:54px;
	height:27px;
	
}
.e0_12 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:46px;
	height:27px;
	
}
.e2_2 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:54px;
	height:27px;
	
}
.e2_24 { 
	width:26px;
	height:16.095245361328125px;
	position:absolute;
	left:1256px;
	top:42px;
}
.ei2_24_2_10 { 
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:25.99346351623535px;
	height:16.095388412475586px;
	position:absolute;
	left:0.0034848793875426054px;
	top:1.0814509465717492e-7px;
}
.e2_26 { 
	width:26px;
	height:17.789474487304688px;
	position:absolute;
	left:1311px;
	top:41px;
}
.ei2_26_2_14 { 
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:19.281715393066406px;
	height:15.92312240600586px;
	position:absolute;
	left:3.8702163696289062px;
	top:1.8663543462753296px;
}
.heading9 { 
	width:26px;
	height:15.052631378173828px;
	position:absolute;
	left:1201px;
	top:42px;
}
.ei2_39_2_37 { 
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:26px;
	height:14.987442016601562px;
	position:absolute;
	left:0px;
	top:0.03259528428316116px;
}
.e2_76 { 
	background-color:rgba(245.35639107227325, 238.12364637851715, 132.04361379146576, 1);
	width:440px;
	height:314px;
	position:absolute;
	left:97px;
	top:3580px;
	background-image:url(images/unsplash_2xht5d22y0i.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_94 { 
	width:506px;
	height:509px;
	position:absolute;
	left:831px;
	top:174px;
}
.ei2_94_2_92 { 
	width:493px;
	height:493.0000305175781px;
	position:absolute;
	left:13px;
	top:0px;
}
.i2_94_2_89 { 
	overflow:hidden;
}
.ei2_94_2_89 { 
	
	width:493px;
	height:493.0000305175781px;
	position:absolute;
	left:0px;
	top:0px;
}

.ei2_94_2_90 { 
	width:493px;
	height:493px;
	position:absolute;
	left:0px;
	top:16px;
}


.e7_32 { 
	width:24px;
	height:24px;
	position:absolute;
	left:26px;
	top:32px;
}


.e11_56 { 
	width:164px;
	height:68px;
	position:absolute;
	left:97px;
	top:650px;
}
.ei11_56_11_37 { 
	background-color:rgba(245.35639107227325, 238.12364637851715, 132.04361379146576, 1);
	width:158px;
	height:61px;
	position:absolute;
	left:6px;
	top:7px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i11_56_11_38 { 
	border:1px solid rgba(71.00000336766243, 67.00000360608101, 6.000000117346644, 1);
}
.ei11_56_11_38 { 
	width:158px;
	height:61px;
	position:absolute;
	border: 1px solid;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.ei11_56_11_39 { 
	color:rgba(71.00000336766243, 67.00000360608101, 6.000000117346644, 1);
	width:81px;
	height:30px;
	position:absolute;
	left:38px;
	top:16px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}


.e15_14 { 
	border-radius:500px;
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:273px;
	top:1550px;
}
.e15_15 { 
	border-radius:500px;
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:273px;
	top:1796px;
}
.e16_16 { 
	border-radius:500px;
	background-color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:13px;
	height:13px;
	position:absolute;
	left:273px;
	top:2051px;
}
.profile { 
	width:600px;
	height:459px;
	position:absolute;
	left:858px;
	top:202px;	
	background-image:url(images/shared_image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
