.ag-format-container {
  width: 1142px;
  margin: 0 auto;
  top:2303px;
  
}



.ag-courses_box {
  
    margin-top: 2400px; /* Adjust this value as needed */
    padding: 0 50px; 
  display: flex;  
  align-items: flex-start;  
  flex-wrap: wrap;
  
}
.ag-courses_item {
  
  flex-basis: calc(33.33333% - 30px);
  top:2303px;
  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 35px 25px; 
  text-decoration: none;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 0 35px; /* Remove bottom margin */
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: rgba(3, 4, 94, 1);
  position: relative;
  font-family:Poppins;
}

.ag-courses-item_date-box {
  margin-top: 20px;
  font-family:Poppins;
  font-size: 18px;
  color: rgba(3, 4, 94, 1);
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
 
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9c771;  
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #a4f4b5;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #fbb196;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #dec4f9;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #faa8d9;
}




