
    
    * {
		margin: 0;
		padding: 0;
		
	  }
  
	  body {
  
		background-color: rgba(251.00000023841858, 248.0000004172325, 204.00000303983688, 1);
		padding: 20px;
		margin-bottom: 0px;
		
	  }  
	  .active {
		color: rgba(3, 4, 94, 1);
		text-align: left;
		font-size: 18px;
		letter-spacing: 0;
		font-family: Poppins;
		margin-right: 250px;
		margin-left: 0px;  
	  }
  
	  ul {
		/* Actual rgba color */
		z-index: 1;
		/* text-align: center; */
		color: rgba(3, 4, 94, 1);
		/* text-align: left; */
		font-size: 18px;
		letter-spacing: 0;
		list-style-type: none;
  
		/* padding: 0; */
		overflow: hidden;
		/* position: fixed; */
		/* top: 0; */
		/* width: 150%; */
		font-family: Poppins;
		background-color:rgba(251.00000023841858, 248.0000004172325, 204.00000303983688, 1);
  
	  }
  
	  li {
		float: left;
  
		/* Center align the text within li */
	  }
  
	  li a {
		display: block;
		color: rgba(3, 4, 94, 1);
		/* Actual rgba color       */
		padding: 14px 16px;
		text-decoration: none;
	  }
  
	  header {
		display: flex;
		justify-content: space-between;
  
  
  
	  }
  
	  header ul {
		display: flex;
		position: fixed;
		top: 0;
		padding: 20px;
		width: 100%;
  
  
  
	  }
  
	  .linkedin {
  
		width: 24px;
		/* Adjust the width as needed */
		height: 24px;
		margin-left: 200px;
	  }
  
	  .github {
  
		width: 30px;
		/* Adjust the width as needed */
		height: 30px;
	  }
  
	  .email {
		width: 30px;
		/* Adjust the width as needed */
		height: 30px;
	  }

	  .tooltip {
		visibility: hidden;
		position: absolute;
		bottom: 0px; /* Position the tooltip below the icon */
		right: 100px; /* Center the tooltip horizontally */
		transform: translateX(-50%);
		color: rgba(3, 4, 94, 1);
		text-align: center;
		padding: 5px;
		border-radius: 6px;
		opacity: 0;
		transition: opacity 0.3s;
		border-bottom: 1px dotted black;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
	
	.tooltip:before {
		content: '';
		position: absolute;
		top: 100%; /* Position the arrow at the top */
		right: 100px;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent black transparent; /* Make the arrow black */
	}
	
	.icon:hover + .tooltip {
		visibility: visible;
		opacity: 1;
	}
	
	.icon {
		position: relative;
		display: inline-block;
		width: 24px;
		height: 24px;
	}
	
	.icon img {
		width: 100%;
		height: auto;
	}
	




.heading1 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:270px;
	height:42px;
	position:absolute;
	left:97px;
	top:200px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.heading3 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:208px;
	height:42px;
	position:absolute;
	left:97px;
	top: 530px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.aboutme-content { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:900px;
	height:88px;
	position:absolute;
	left:305px;
	top:1053px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}





.heading2 { 
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	width:616px;
	height:232px;
	position:absolute;
	left:97px;
	top:240px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}




.aboutme{
	color:rgb(198, 189, 70);
	width:525px;
	height:116px;
	position:absolute;
	left:57px;
	top:900px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;

}
.education { 
	color:rgb(198, 189, 70);
	width:525px;
	height:116px;
	position:absolute;
	left:57px;
	top:1359px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}
.projects { 
	color:rgb(198, 189, 70);
	width:292px;
	height:116px;
	position:absolute;
	left:97px;
	top:2203px;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}

.internships { 
	color:rgb(198, 189, 70);
	width:292px;
	height:116px;
	position:relative;
	left:97px;
	display: flex;
	font-family:Poppins;
	text-align:left;
	font-size:100px;
	letter-spacing:0;
	line-height:px;
}


footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
	background-color:  rgba(251.00000023841858, 248.0000004172325, 204.00000303983688, 1);
	color:rgba(3.000000058673322, 4.000000236555934, 94.0000019967556, 1);
	position: relative;
	top: 700px;
	font-family: Poppins;  
  }
  



.resume1{ 
	width:164px;
	height:68px;
	position:absolute;
	left:97px;
	top:580px;
}
.resume2 { 
	background-color:rgba(245.35639107227325, 238.12364637851715, 132.04361379146576, 1);
	width:158px;
	height:61px;
	position:absolute;
	left:6px;
	top:7px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}

.resume3{ 
	width:158px;
	height:61px;
	position:absolute;
	border: 1px solid;
	left:0px;
	top:0px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.resume4{ 
	color:rgba(71.00000336766243, 67.00000360608101, 6.000000117346644, 1);
	width:81px;
	height:30px;
	position:absolute;
	left:38px;
	top:16px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}




.profile { 
	
	position:absolute;
	left:658px;
	top:202px;	
	object-fit: contain;	
	background-repeat:no-repeat;
	background-size:cover;
}

    /* The actual timeline (the vertical ruler) */
	.timeline {
		position: absolute;
		max-width: 1200px;
		margin: 0 0;
		top:1559px;
		font-family:Poppins;
	  }
	  
	  /* The actual timeline (the vertical ruler) */
	  .timeline::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: white;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
	  }
	  
	  /* Container around content */
	  .container {
		
        transition: 0.3s;
		padding: 30px 40px;
		position: relative;
		background-color: inherit;
		width: 40%;

	  }
	  .container:hover {
		box-shadow: 0 0 10px rgba(12, 12, 12, 0.2);
		border-radius: 10px;
	  }


	  
	  /* The circles on the timeline */
	  .container::after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		right: -35px;
		background-color: white;
		border: 4px solid #FF9F55;
		top: 15px;
		border-radius: 50%;
		
	  }
	  
	  /* Place the container to the left */
	  .left {
		left: 80px;
	  }
	  
	  /* Place the container to the right */
	  .right {
		left: 655px;
	  }
	  
	  /* Add arrows to the left container (pointing right) */
	  .left::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 18px;
		width: 0;
		right: -10px;
		border: medium solid white;
		border-width: 10px 0 10px 10px;
		border-color: transparent transparent transparent white;
	  }
	  
	  /* Add arrows to the right container (pointing left) */
	  .right::before {
		content: " ";
		height: 0;
		position: absolute;
		top: 15px;
		width: 0;
		left: -25px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	  }
	  
	  /* Fix the circle for containers on the right side */
	  .right::after {
		left: -50px;
	  }
	  
	  /* The actual content */
	  .content {
		padding: 9px 9px;
		background-color: rgb(229, 215, 167);
		position: relative;
		border-radius: 6px;
		font-size: 18px;
	  }
	  
	
